{% extends 'index.html' %}
<!-- Navbar -->
{%include 'includes/navbar.html'%}




{% block body %}


    <h1 class= "text-center titulo" >History of purchase</h1>
    <br>

  
    
  
  <table class="table" >
  
  <thead id="tablita">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">ProductId</th>
      <th scope="col">DateTime</th>
    </tr>
  </thead>
  <tbody>
    {% for histo in histories %}
    <tr>
      <td>{{histo[1]}}</td>
      <td>{{histo[2]}}</td>
      <td>@{{histo[3]}}</td>
    </tr>
    {% endfor %} 
  </tbody>
</table>
{% endblock %}