{% extends 'index.html' %}
<!-- Navbar -->
{%include 'includes/navbar.html'%}
</head>
{% block body %}
<div class="container" id = "home">

  <div class="row">

    <div class="col-lg-3">

      <h1 class="my-4">Cupon validation</h1>
   
     
      
    
     <form  methood = "POST" action="/bin">    
<div class="form-group">
  <label for="exampleInputEmail1">Cupon</label>
  <input type="text" class="form-control" placeholder="Enter valid cupon">
  
</div>
<div class="form-group">
  <label for="exampleInputPassword1">Amount</label>
  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="How much you withdraw">
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
   {% if mensaje %}
      <div class="alert alert-danger" role="alert">
          {{mensaje}}
      </div>
      {% endif %}
         {% if mensajePositivo %}
      <div class="alert alert-success" role="alert">
          {{mensajePositivo}}
      </div>
      {% endif %}

    </div>
    <div class="col-lg-9">

<div class="container">
          <div class="card">
              {% for prof in profile %}
              <div class="card-body">
                  <div class="row">
                      <div class="  ">
                          <h3 class="text-center">Welcome back, {{prof[0]}}</h3>
                          <img src="https://robohash.org/68.186.255.198.png" alt="profile-picture" class=" rounded mx-auto d-block rounded-circle " id = "circ">
                          <h4 class="text-center">Web / UI Designer</h4>
                          <p class="text-center">
                              I love to read, hang out with friends, watch football, listen to music, and learn new things.
                          </p>
                      </div>
                      <div class="col-12 col-lg-3">
                          <h3 class="mb-0">${{prof[1]}}</h3>
                          <small>Wallet</small>
                      </div>
                      <div class="col-12 col-lg-3">
                          <h3 class="mb-0">{{(prof[3]/100+1)|round|int}}</h3>
                          <small>Level</small>
                      </div>
                      <div class="col-12 col-lg-3">
                          <h3 class="mb-0">${{prof[3]}}</h3>
                          <small>Money spent</small>
                      </div>
                      <div class="col-12 col-lg-3">
                        {% for cup in cupons %}
                          <h3 class="mb-0">{{cup[0]}}/${{cup[2]}}</h3>
                        {% endfor %}
                          <small>Cupon id/value</small>

                      </div>
                      <!--/col-->
                  </div>
                  <!--/row-->
              </div>
              <!--/card-block-->
              {% endfor %}
          </div>
</div>
</div>

{% endblock %}